/**/dist/*
/**/build/*
/**/objs/*
.DS_Store
!/**/dist/README.md
!/**/dist/*.com
!/**/dist/*.sys
!/**/dist/*.rom
!/**/dist/*.bin
!/**/dist/*.zip
/**/*.vhd
/openmsx.xml
/.vscode/*
hardware/kicad-cpld-rev4/MSX USB Drive-backups/*
hardware/kicad-cpld/MSX USB Drive-backups/*